<!DOCTYPE html>
<html lang="en">
<head>
  <title>Become an Author</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon/favicon-23d0a521bd00c3840254afa56abfb0fa6979200c19bbeab14b1a254c39ca217f.ico" />
  <link rel="stylesheet" href="/assets/landing_page/css/author_onboarding-00410456833e650e0dcf60da23b8f1dffb0f69a0fe46c74d9ca1f182c6093776.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:900|Roboto:400,500" />

  
    <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
</script>

  <script data-cookieconsent="statistics" type="text/plain">
    (function(window, document) {
      function loadGA() {
        var js, fjs = document.getElementsByTagName('script')[0];
        js = document.createElement('script');
        js.src = 'https://www.google-analytics.com/analytics.js';
        fjs.parentNode.insertBefore(js, fjs);
      }
      if (document.readyState === "complete") {
        loadGA();
      } else {
        window.addEventListener('load', loadGA)
      }
    })(window, document);
  </script>
<script>
  ga('create', 'UA-11834194-58', {"allowLinker":true});
  ga('require', 'linker');
  ga('linker:autoLink', ["activeden.net","audiojungle.net","themeforest.net","videohive.net","graphicriver.net","3docean.net","codecanyon.net","photodune.net","market.envato.com","market.styleguide.envato.com","elements.envato.com","author.envato.com"]);
  ga('send', 'pageview');
</script>


  

  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="E9W-apv5hRItCiip3g6-yisdoaZt3s1optIB2bNOJ_rTxYGipa5d5Mjx5_OsK0hFHh3QONHL48HWegFkEHw-VA" />
</head>
<body>
  
  <header class="site-header">
  <div class="container">
    <div class="row middle-xs center-xs start-sm">
      <div class="col-xs-12 col-sm-4">
        <a href="http://market.envato.com/">
          <img alt="Envato logo" class="site-header__logo" src="/assets/images/logos/envato-b2317d4561dab4650d4aafd169b5203e17c487f072946a0cdd64d8df621d1a53.svg" />
        </a></div>
      <div class="col-xs-12 col-sm-8">
        <nav>
          <ul class="nav -size-compact row middle-xs end-xs">
            <li class="nav__item-button">
              <a class="e-btn -color-secondary" href="/join">Become an Envato Author
              </a>
            </li>
          </ul>
        </nav></div>
    </div>
  </div>
</header>
<section class="feature-callout">
  <div class="feature-callout__background">
  </div>
  <div class="container">
    <div class="feature-callout__content">
      <div class="row">
        <div class="col-xs-12 col-lg-7">
          <h1 class="heading">
            Reach over <span class="feature-callout__span">2 Million</span> customers while doing what you love.
          </h1>
        </div>
      </div>
      <div class="row e-margin-tm">
        <div class="col-xs-12 col-lg-6">
          <h3 class="feature-callout__subtitle">
            Become an Envato Author and sell your work with the largest online creative community.
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-5">
          <div class="feature-callout__cta">
            <a class="e-btn -color-primary -size-l -shadow-none -font-helvetica" href="/join">
              Become an Envato Author today
            </a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="js- page-nav">
    <nav class="page-nav__container">
      <ul class="nav row center-xs around-xs between-lg">
        <li class="js-nav__item -selling nav__item">
          <a class="nav__item-link" href="#selling">Selling</a>
        </li>
        <li class="js-nav__item -work nav__item">
          <a class="nav__item-link" href="#your-work">Your work</a>
        </li>
        <li class="js-nav__item -earn nav__item">
          <a class="nav__item-link" href="#earn-more">Earn more</a>
        </li>
        <li class="js-nav__item -quality nav__item">
          <a class="nav__item-link" href="#focus-quality">Focus on quality</a>
        </li>
        <li class="js-nav__item -tools nav__item">
          <a class="nav__item-link" href="#tools-support">Tools &amp; support</a>
        </li>
        <li class="js-nav__item -community nav__item">
          <a class="nav__item-link" href="#community">Community</a>
        </li>
        <li class="nav__item -display-sticky">
          <a class="e-btn -color-primary" href="/join">Become an Envato Author
          </a>
        </li>
      </ul>
    </nav></div>
</section>
<section class="js-waypoint section -padding-small" data-class=".js-nav__item.-selling" id="selling">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section__title -spacing-small h-text-align-center">What can you sell?</h2>
        <h3 class="heading__subtitle h-text-align-center">Everything that's digital and creative, from website templates to stock footage.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tab-container">
          <ul class="tabs">
            <li>
              <input checked="checked" id="tab-code" name="tabs" type="radio" />
              <label for="tab-code">Code Scripts</label>
              <div class="tab-content" id="tab-content-code">
                <div class="row center-xs start-lg">
                  <div class="col-xs-12 col-lg-3 col-lg-offset-2">
                    <img alt="Code Canyon" class="tab-image__cc" src="/assets/landing_page/img/become_author/sites/CC-fdac399c3aada5c4f4caaf3fe1804773171f16b41dbb5c2758323a5e9d1c03ff.png" />
                  </div>
                  <div class="col-xs-11 col-lg-5">
                    <p class="e-paragraph -size-l">
                      <a class="e-link" href="https://codecanyon.net/">CodeCanyon</a>
                      contains thousands of plugins, code and scripts for Bootstrap, Javascript, PHP, WordPress, HTML5 and more.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input id="tab2" name="tabs" type="radio" />
              <label for="tab2">Video</label>
              <div class="tab-content" id="tab-content2">
                <div class="row center-xs start-lg">
                  <div class="col-xs-12 col-lg-3 col-lg-offset-2">
                    <img alt="VideoHive" class="tab-image__vh" src="/assets/landing_page/img/become_author/sites/VH-3017a369778be56672132eb2fd8dfba488104c5268911dc4c5c5a7dafac66c7c.png" />
                  </div>
                  <div class="col-xs-11 col-lg-5">
                    <p class="e-paragraph -size-l">
                      <a class="e-link" href="https://videohive.net/">VideoHive</a>
                      is our marketplace for all things video and features a huge collection of royalty-free videos, templates and motion graphics.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input id="tab3" name="tabs" type="radio" />
              <label for="tab3">Music &amp; Audio</label>
              <div class="tab-content" id="tab-content3">
                <div class="row center-xs start-lg">
                  <div class="col-xs-12 col-lg-3 col-lg-offset-2">
                    <img alt="AudioJungle" class="tab-image__aj" src="/assets/landing_page/img/become_author/sites/AJ-1265dcfe42bd9497082a637dd77fb10c74756793707a4c2935fda50cab607e35.png" />
                  </div>
                  <div class="col-xs-11 col-lg-5">
                    <p class="e-paragraph -size-l">
                      Hundreds of thousands of tracks and sound effects created by a community of music professionals from all over the world can be found at
                      <a class="e-link" href="https://audiojungle.net">AudioJungle</a>
                      .
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input id="tab4" name="tabs" type="radio" />
              <label for="tab4">Website Themes</label>
              <div class="tab-content" id="tab-content4">
                <div class="row center-xs start-lg">
                  <div class="col-xs-12 col-lg-3 col-lg-offset-2">
                    <img alt="ThemeForest" class="tab-image__tf" src="/assets/landing_page/img/become_author/sites/TF-b49f51fd44dc37cfb73e22d92f93520ab45bf8c255b37aff9f5758d16cf8e2d6.png" />
                  </div>
                  <div class="col-xs-11 col-lg-5">
                    <p class="e-paragraph -size-l">
                      From WordPress to Shopify themes,
                      <a class="e-link" href="https://themeforest.net">Themeforest</a>
                      is the world's #1 marketplace for premium website templates.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input id="tab5" name="tabs" type="radio" />
              <label for="tab5">Design Assets</label>
              <div class="tab-content" id="tab-content5">
                <div class="row center-xs start-lg">
                  <div class="col-xs-12 col-lg-3 col-lg-offset-2">
                    <img alt="GraphicRiver" class="tab-image__gr" src="/assets/landing_page/img/become_author/sites/GR-a171c3baa7f37a88b8d31e05535cdf6fa86e546c2a24d8d658dcbb22ae3d8a4d.png" />
                  </div>
                  <div class="col-xs-11 col-lg-5">
                    <p class="e-paragraph -size-l">
                      From logo templates to fonts, Photoshop actions to print materials—
                      <a class="e-link" href="https://graphicriver.net">GraphicRiver</a>
                      is the go-to place for graphics and design assets.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input id="tab6" name="tabs" type="radio" />
              <label for="tab6">Stock Photos</label>
              <div class="tab-content" id="tab-content6">
                <div class="row center-xs start-lg">
                  <div class="col-xs-12 col-lg-3 col-lg-offset-2">
                    <img alt="PhotoDune" class="tab-image__pd" src="/assets/landing_page/img/become_author/sites/PD-9463874ca80ef68717b658e30dd3d9f4909027f815730787f51edebcd9fd617c.png" />
                  </div>
                  <div class="col-xs-11 col-lg-5">
                    <p class="e-paragraph -size-l">
                      <a class="e-link" href="https://photodune.net/">PhotoDune</a>
                      is home to a huge collection of royalty-free stock photography ready to use for any kind of project.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input id="tab7" name="tabs" type="radio" />
              <label for="tab7">3D Models</label>
              <div class="tab-content" id="tab-content7">
                <div class="row center-xs start-lg">
                  <div class="col-xs-12 col-lg-3 col-lg-offset-2">
                    <img alt="3DOcean" class="tab-image__3d" src="/assets/landing_page/img/become_author/sites/3D-0346a5422800377d4f723e5cfd106e6d72674a7984ed166311a67d0e6a996d9b.png" />
                  </div>
                  <div class="col-xs-11 col-lg-5">
                    <p class="e-paragraph -size-l">
                      On
                      <a class="e-link" href="https://3docean.net">3DOcean</a>
                      a global community of professionals create all things 3D—models, computer-generated textures, render setups and a lot more.
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="js-waypoint showcase" data-class=".js-nav__item.-work" id="your-work">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col col-md-5">
        <div class="row">
          <div class="col-md-10">
            <div class="e-cf">
              <h1 class="heading">Your work. Your way.</h1>
              <hr class="showcase__divider" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <h3 class="heading__subtitle">
              Speak with your own voice! On our marketplaces you can maintain your identity, build your brand and promote your work to the community - however you like.
            </h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-6 col-md-offset-1 col-lg-7 col-lg-offset-0">
        <div class="js-waypoint__boxes showcase__container">
          <div class="showcase__item -dimension-sstyles -display-all-sizes">
          </div>
          <div class="showcase__item -dimension-enfold">
          </div>
          <div class="showcase__item -dimension-romavrs">
          </div>
          <div class="showcase__item -dimension-be">
          </div>
          <div class="showcase__item -dimension-composer">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="js-waypoint section" data-class=".js-nav__item.-earn" id="earn-more">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12">
        <h1 class="section__title h-text-align-center">More ways to earn.</h1>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-6 col-lg-3">
        <div class="detail">
          <img alt="earn money" class="detail__icon" src="/assets/landing_page/img/become_author/detail-icon/sellmore-04a88a9fb6fd6b5e34075800d22d094274ce196ba82a07049a37d6cac1004f82.svg" />
          <h2 class="detail__title">Sell more, Earn more</h2>
          <p class="e-paragraph">Hit new earnings milestones to make more out of every sale.</p>
          <a class="e-link -weight-bold -color-dark" href="https://help.market.envato.com/hc/en-us/articles/214154443?_ga=1.7270198.588888245.1468279928" target="_blank">View payment schedule</a>
        </div>
      </div>
      <div class="col-xs-11 col-sm-6 col-lg-3">
        <div class="detail">
          <img alt="Affiliates" class="detail__icon" src="/assets/landing_page/img/become_author/detail-icon/spreadtheword-3b0c87e3b85e14f8f4f427ff6ee6e116c01be6c9f7bb9226b1400fde6670e491.svg" />
          <h2 class="detail__title">Spread the word</h2>
          <p class="e-paragraph">Send traffic to Envato Market and earn income for every sale.</p>
          <a class="e-link -weight-bold -color-dark" href="https://themeforest.net/affiliate_program" target="_blank">See our affiliate program</a>
        </div>
      </div>
      <div class="col-xs-11 col-sm-6 col-lg-3">
        <div class="detail">
          <img alt="Choose exclusivity" class="detail__icon" src="/assets/landing_page/img/become_author/detail-icon/exclusive-214f376fc7d879963ec83d70961a0c232d520b76a9695ce820fea41c0e506d3d.svg" />
          <h2 class="detail__title">Choose exclusivity</h2>
          <p class="e-paragraph">Go exclusive to earn more. Want to stay non exclusive? No problem!</p>
          <a class="e-link -weight-bold -color-dark" href="https://help.market.envato.com/hc/en-us/articles/203269680-Exclusive-Author-Information" target="_blank">Check out Exclusivity rates</a>
        </div>
      </div>
      <div class="col-xs-11 col-sm-6 col-lg-3">
        <div class="detail">
          <img alt="multiple markets" class="detail__icon" src="/assets/landing_page/img/become_author/detail-icon/multiplemarkets-bea421559a1d0115de8c0e1692ac2380f8c704a2d21c76eb2442e432b38c318b.svg" />
          <h2 class="detail__title">Multiple markets</h2>
          <p class="e-paragraph">Get as creative as you like! We have a range of products and platforms.</p>
          <a class="e-link -weight-bold -color-dark" href="https://envato.com" target="_blank">Discover our ecosystem
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="js-waypoint showcase -padding-large" data-class=".js-nav__item.-quality" id="focus-quality">
  <div class="container">
    <div class="row">
      <div class="col-xs col-sm-9 col-md-6 col-md-offset-1 col-lg-7 col-lg-offset-0">
        <div class="js-waypoint__boxes showcase__container -position-large">
          <div class="showcase__item -dimension-salient -display-all-sizes">
          </div>
          <div class="showcase__item -dimension-andreialex">
          </div>
          <div class="showcase__item -dimension-eugene">
          </div>
          <div class="showcase__item -dimension-unost2">
          </div>
          <div class="showcase__item -dimension-impreza">
          </div>
          <div class="showcase__item -dimension-motionpatriot">
          </div>
        </div>
      </div>
      <div class="col-md-5 first-xs">
        <div class="e-cf">
          <h1 class="heading">Focus on quality</h1>
          <hr class="showcase__divider" />
        </div>
        <h3 class="heading__subtitle">
          Becoming an Envato Author means that, like us, you care deeply about the high quality of the products you sell to our global audience.
        </h3>
      </div>
    </div>
  </div>
</section>
<section class="js-waypoint section" data-class=".js-nav__item.-tools" id="tools-support">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-11 col-sm-12">
        <h1 class="section__title h-text-align-center">Tools and support when you need it.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-11 col-sm-6 col-lg-3">
        <div class="detail">
          <img alt="earn money" class="detail__icon" src="/assets/landing_page/img/become_author/detail-icon/forums-ed052a755a3eb49210615d0e181a48612712df4da7d158df27b991f9c9f7c207.svg" />
          <h2 class="detail__title">Forums</h2>
          <p class="e-paragraph">Join the discussion with fellow authors to get help and feedback.</p>
        </div>
      </div>
      <div class="col-xs-11 col-sm-6 col-lg-3">
        <div class="detail">
          <img alt="Affiliates" class="detail__icon" src="/assets/landing_page/img/become_author/detail-icon/envatohelp-6c0d2f0bd79283105818adfa8dc7b9a0cfb167f8ce716d086c29d86e1ecf3872.svg" />
          <h2 class="detail__title">Envato Help Team</h2>
          <p class="e-paragraph">Chat to our Help Team about how you can make the most of Envato.</p>
        </div>
      </div>
      <div class="col-xs-11 col-sm-6 col-lg-3">
        <div class="detail">
          <img alt="Choose exclusivity" class="detail__icon" src="/assets/landing_page/img/become_author/detail-icon/analytics-a66a62ff448269d19573c2d3c19770f66a930ec7c9f1bfc4fd041ffb962a4bc1.svg" />
          <h2 class="detail__title">Analytics</h2>
          <p class="e-paragraph">Check your dashboard to monitor sales and best times to market.</p>
        </div>
      </div>
      <div class="col-xs-11 col-sm-6 col-lg-3">
        <div class="detail">
          <img alt="multiple markets" class="detail__icon" src="/assets/landing_page/img/become_author/detail-icon/insights-6c1b5554f66b7a058a551f2d1f4c3e58df73c2d7f51806d6acb144619d7828a4.svg" />
          <h2 class="detail__title">Daily insights</h2>
          <p class="e-paragraph">Stay on top of the game with helpful articles from our community.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="js-waypoint showcase -padding-small" data-class=".js-nav__item.-community" id="community">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="e-cf">
          <h1 class="heading">Community <br />
            Support.</h1>
          <hr class="showcase__divider" />
        </div>
        <h3 class="heading__subtitle">
          The journey to making a living by doing what you love is not always
          an easy one. But you can rest assured that, from our most successful
          authors to the new starters, everyone will be happy to help you along
          the way.
        </h3>
      </div>
      <div class="col-xs col-sm-9 col-md-6 col-md-offset-1 col-lg-7 col-lg-offset-0">
        <div class="js-waypoint__boxes showcase__container -position-small -justify-center">
          <div class="showcase__item -dimension-tommus">
          </div>
          <div class="showcase__item -dimension-dtbaker -display-all-sizes">
          </div>
          <div class="showcase__item -dimension-yourinspiration">
          </div>
          <div class="showcase__item -dimension-mvp">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta-section">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12">
        <h1 class="cta-section__title h-text-align-center">Take your passions to the next level.</h1>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="cta-section__subtitle-container">
          <h3 class="cta-section__subtitle h-text-align-center e-margin-bm">Become part of an inspiring, talented community of creatives, and make a living doing what you love.</h3>
          <a class="e-btn -color-primary -size-l -shadow-none -font-helvetica" href="/join">Become an Envato Author now
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <dl class="footer__dl">
          <dt class="footer__dt">Envato Market</dt>
          <dd class="footer__dd">
            <a class="footer__link" href="https://themeforest.net/legal/market">Envato Market Terms</a>
          </dd>
          <dd class="footer__dd">
            <a class="footer__link" href="https://themeforest.net/licenses">Envato Market Licenses</a>
          </dd>
          <dd class="footer__dd">
            <a class="footer__link" href="https://envato.com/#contact">Contact Envato</a>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <dl class="footer__dl">
          <dt class="footer__dt">Help</dt>
          <dd class="footer__dd">
            <a class="footer__link" href="https://help.market.envato.com">Help Center</a>
          </dd>
          <dd class="footer__dd">
            <a class="footer__link" href="http://themeforest.net/legal/author">Author Terms</a>
          </dd>
          <dd class="footer__dd">
            <a class="footer__link" href="https://envato.com/">Envato Ecosystem</a>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <dl class="footer__dl">
          <dt class="footer__dt">Community</dt>
          <dd class="footer__dd">
            <a class="footer__link" href="https://forums.envato.com/">Forums</a>
          </dd>
          <dd class="footer__dd">
            <a class="footer__link" href="http://community.envato.com/#/events">Community Meetups</a>
          </dd>
          <dd class="footer__dd">
            <a class="footer__link" href="https://themeforest.net/affiliate_program">Become an Affiliate</a>
          </dd>
        </dl>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="footer__brand">
          <div class="row">
            <div class="col-xs-12">
              <a href="http://market.envato.com/">
                <img alt="Envato" class="site-header__logo" src="/assets/images/logos/envato-b2317d4561dab4650d4aafd169b5203e17c487f072946a0cdd64d8df621d1a53.svg" />
              </a></div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="footer__social-links">
                <a href="https://www.facebook.com/envatomarket" title="Facebook link">
                  <img alt="Facebook" class="footer__social-image" src="/assets/landing_page/img/become_author/social/facebook-37406b105bfc6cdef0f685c48b962138164bed244764d3913423f0f03edeef43.svg" />
                </a><a href="https://twitter.com/envatomarket" title="Twitter link">
                <img alt="Twitter" class="footer__social-image" src="/assets/landing_page/img/become_author/social/twitter-26ae8932fa8d70538783c8e9a2cdd4456f4426ff810a4e40d2b76771ed7a4fdd.svg" />
              </a><a href="https://www.youtube.com/user/Envato" title="Youtube link">
                <img alt="Youtube" class="footer__social-image" src="/assets/landing_page/img/become_author/social/youtube-9db4dbc37618e453a598b032810a43903df672a82020d699ad9046646c9ef328.svg" />
              </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/assets/landing_page/js/jquery.waypoints.min-b379bbc110b0f43bf54ae8024d60f446766c35272b8ce67092dcb2437d3f1ea5.js"></script>
  <script src="/assets/landing_page/js/sticky-4479f3b4f9c6fc8121cf210f0f9bce8b30b3f8a13778cab83d00e9ec12497bce.js"></script>
  <script src="/assets/landing_page/js/onboarding-abbc2e4d7a8dab71200bb9bb1e7f3d4d43301784597d182a60ae6d862222ffce.js"></script>

  <div class="site-footer">
  <div class="site-footer__container">
    <div class="site-footer__nav">
      <div class="site-footer__nav-item">
        <a class="site-footer__nav-link" href="#">Back to top</a>
      </div>
        <link href="https://public-assets.envato-static.com/css/cookiebot.css" media="all" rel="stylesheet" type="text/css">
        <script async="true" data-cbid="" id="Cookiebot" src="https://consent.cookiebot.com/uc.js" type="text/javascript"></script>
    </div>
    <div class="site-footer__legal">
      <p class="site-footer__legal__copyright">&copy; 2022 Envato Pty Ltd. Trademarks and brands are the property of their respective owners.</p>
    </div>
  </div>
</div>

</body>
</html>
